.admin-panel{
    border: 1px solid #999;
    border-radius: 3px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.7;
    padding: 15px;
}

.admin-panel:hover{
    opacity: 1;
}

.admin-panel a{
    display: block;
    margin: 10px 0;
}